{# {% extends 'base.html.twig' %}

{% block title %}New Biome{% endblock %}

{% block body %}
    <h1>Create new Biome</h1>

    {{ include('biome/_form.html.twig') }}

    <a href="{{ path('app_biome_index') }}">back to list</a>
{% endblock %} #}

{% include 'partials/_new.html.twig' with { 'entity' : 'biome' } %}
